<nav>
  <a routerLink="/">
    <img src="media/05.png" class="icon" />
  </a>
  <a routerLink="/Boats">
    <img src="media/03.png" class="icon" />
  </a>
  <a routerLink="/Auto">
    <img src="media/02.png" class="icon" />
  </a>
  <a routerLink="/favorite">
    <img src="media/01.png" class="icon" />
  </a>
</nav>
<section>
  <header>
    <h1>Dealer Content Manager</h1>
    <p class="description"> View, Add and sort Dealers</p>
  </header>
  <router-outlet></router-outlet>
</section>