:host {
  display: block;
  flex-direction: column;
  padding: 0 10px;
  margin-bottom: 20px;
}
header {
  color: #c1c5c3;
}
header.medium-boats {
  color: #59ace4;
}
header.medium-auto {
  color: #85bf94;
}
header > h2 {
  font-size: 1.4em;
}
header > h2.error {
  color: #e93a3e;
}
section {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}
section > media-item {
  margin: 10px;
}
footer {
  text-align: right;
}
footer .icon {
  width: 64px;
  height: 64px;
  margin: 15px;
}