<header 
    [ngClass]="{'medium-boats':medium === 'Boats', 'medium-auto':medium === 'Auto'}">
    <h2>{{medium}}</h2>
    <div>{{ dealerItems | categoryList }}</div>
</header>
<section>
  <dealerapp-dealer-item
    [ngClass]="{'medium-movies': dealerItem.medium==='Boats', 'medium-series':dealerItem.medium==='Auto'}" 
    *ngFor="let dealerItem of dealerItems"
    [dealerItem]="dealerItem"
    (delete)="onDealerItemDelete($event)"
    (edit)="onDealerItemEdit($event)"
    (favorite)="onDealerItemFav($event)"></dealerapp-dealer-item>
</section>
<footer>
  <a routerLink="/add">
    <img src="media/04.png" class="icon" />
  </a>
</footer>