<header>
  <h2>Update Dealer</h2>
</header>
<form
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)">
  <ul>
    <li>
      <label for="medium">Dealer Type</label>
      <select name="medium" id="medium" formControlName="medium">
        <option *ngFor="let medium of lookupLists.mediums" value="{{medium}}">{{medium}}</option>
      </select>
    </li>
    <li>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" formControlName="name">
      <div *ngIf="form.controls.name.errors?.pattern" class="error">
        Name has invalid characters
      </div>
    </li>

    <li>
      <label for="category">Company</label>
      <select name="category" id="category" formControlName="category">
       <option value="Mercury">Mercury</option>
        <option value="Searay">Searay</option>
        <option value="Toyota">Toyota</option>
        <option value="Ford">Ford</option>
        <option value="Regmarine">Regmarine</option>
        <option value="Beneteau">Beneteau</option>
      </select>
    </li>
    <li>
      <label for="lat">Lat</label>
      <input type="text" name="lat" id="lat" formControlName="lat">
      
    </li>
    <li>
      <label for="lng">Lng</label>
      <input type="text" name="lng" id="lng" formControlName="lng">
    </li>
    <li>
      <label for="year">Year Created</label>
      <input type="text" name="year" id="year" maxlength="4" formControlName="year">
      <div *ngIf="form.controls.year.errors?.year" class="error">
        Must be between 
        {{form.controls.year.errors?.year.min}} 
        and 
        {{form.controls.year.errors?.year.max}}
      </div>
    </li>
  </ul>
  <button type="submit" [disabled]="!form.valid">Save</button>
</form>